﻿@model Agencia_Viajes.Models.Viajes

@{
    //ViewBag.Title = "Details";
    Layout = null;
}

<center>
<h2>Viaje</h2>


<fieldset>


        <div class="editor-label">
            @Html.LabelFor(model => model.codigo_viajes,"Codigo")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.codigo_viajes, new { @class = "text-box single-line", @Readonly = "Readonly" })
            @Html.ValidationMessageFor(model => model.codigo_viajes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numero_plazas, "Numero de Plazas")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.numero_plazas, new { @class = "text-box single-line", @Readonly = "Readonly" })
            @Html.ValidationMessageFor(model => model.numero_plazas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.destino, "Destino")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.destino, new { @class = "text-box single-line", @Readonly = "Readonly" })
            @Html.ValidationMessageFor(model => model.destino)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.origen, "Lugar de Origen")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.origen, new { @class = "text-box single-line", @Readonly = "Readonly" })
            @Html.ValidationMessageFor(model => model.origen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.precio, "Precio")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.precio, new { @class = "text-box single-line", @Readonly = "Readonly" })
            @Html.ValidationMessageFor(model => model.precio)
        </div>
</fieldset>
<br />
<br />

    <input type="button" value="Cerrar" onclick="Cerrar()" class="btn btn-danger" />

</center>