﻿@model IEnumerable<Agencia_Viajes.Models.Viajes>

@{
    //ViewBag.Title = "Index";
}

<link href="~/Scripts/DataTables-1.10.13/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DataTables-1.10.13/media/js/Data_Table_Es.js" type="text/javascript"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="~/Scripts/Popup.js" type="text/javascript"></script>


<center><h2>Viajes</h2></center>

<div class="DivEmpresas">
    <p>
        <input type="button"  value="Nuevo" onclick="CrearViaje()" class="btn btn-primary"  style=" float:right" /> 
    </p>

    <br />
<br />

    <table id="Jtabla">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Numero de Plazas
                </th>
                <th>
                    Destino
                </th>
                <th>
                    Lugar de Origen
                </th>
                <th>
                    Precio
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_viajes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero_plazas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.origen)  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    <input type="button" onclick="VerViaje(@item.ID_Viajes)" value="Detalle" class="btn btn-info" />
                    <input type="button" onclick="EditViaje(@item.ID_Viajes)" value="Editar" class="btn btn-success" />
                    <input type="button" onclick="EliminarViaje(@item.ID_Viajes)" value="Eliminar" class="btn btn-danger" />

                </td>

            </tr>
        }
        </tbody>
    </table>

    </div>

    <div id="LevantarPopup"></div>
<div id="DialogoPopUp_alert"></div>
<div id="dialog_alert_Error"></div>