﻿@model IEnumerable<Agencia_Viajes.Models.Viajes>

@{
}


<link href="~/Scripts/DataTables-1.10.13/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DataTables-1.10.13/media/js/Data_Table_Español.js" type="text/javascript"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="~/Scripts/Popup.js" type="text/javascript"></script>

<center><h2>Viajes</h2></center>

<br />

    <table id="Jtabla">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Numero de Plazas
                </th>
                <th>
                    Destino
                </th>
                <th>
                    Lugar de Origen
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_viajes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero_plazas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
            </tr>
        }
        </tbody>
    </table>