﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <script src="~/Scripts/jquery-ui-1.12.1/external/jquery/jquery.js" type="text/javascript"></script>
        <link href="http://app.vocem.com/VOCEM/JS/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="http://app.vocem.com/VOCEM/JS/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
    </head>
    <body>
           <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Agencia de Viajes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="page">
        <div class="body">
            @RenderSection("featured", required: false)
            <section class="main content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
     </div>


@*    @Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    </body>
</html>
