﻿@model Agencia_Viajes.Models.Viaje_V

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Viaje_V</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_Viaje_V)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_Viaje_V)
            @Html.ValidationMessageFor(model => model.ID_Viaje_V)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_Viajes, "Viajes")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_Viajes", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_Viajes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_Viajero, "Viajero")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_Viajero", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_Viajero)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
