﻿@model Agencia_Viajes.Models.Viaje_V

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Viaje_V</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_Viaje_V)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_Viaje_V)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Viajes.codigo_viajes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Viajes.codigo_viajes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Viajero.CI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Viajero.CI)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
