﻿@model Agencia_Viajes.Models.Viaje_V

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Viaje_V</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_Viaje_V)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_Viaje_V)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Viajes.codigo_viajes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Viajes.codigo_viajes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Viajero.CI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Viajero.CI)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
