﻿@model IEnumerable<Agencia_Viajes.Models.Viaje_V>

@{
    //ViewBag.Title = "Index";
}

<link href="~/Scripts/DataTables-1.10.13/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DataTables-1.10.13/media/js/Data_Table_Es.js" type="text/javascript"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js" type="text/javascript"></script>

<script src="~/Scripts/Popup.js" type="text/javascript"></script>


<center><h2>Viajes Asignados</h2></center>

<div class="DivEmpresas">

    <br />
<br />

    <table id="Jtabla">
        <thead>
            <tr>
                <th>
                    CI
                </th>
                <th>
                    Nombre Viajero
                </th>
                <th>
                    Codigo Viaje
                </th>
                <th>
                    Destino
                </th>

            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Viajero.CI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viajero.Primer_Nombre) @Html.DisplayFor(modelItem => item.Viajero.Primer_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viajes.codigo_viajes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viajes.destino)
                </td>


            </tr>
        }
        </tbody>
    </table>

    </div>
