﻿@{
   //iewBag.Title = "AsignarViajero";

    Layout = null;
}

<center>
<h2>Viajes</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

            <div class="editor-field">
            @Html.Hidden("ID_Viajero")
            </div>


            <div class="editor-label">
                Viajes
            </div>
            <div class="editor-field">
                @Html.DropDownList("ID_Viajes", null, "-- Seleccione --", new { @class = "text-box single-line", required = "required" })
            </div>

    </fieldset>
<br />
<br />
    <input type="submit" value="Guardar" class="btn btn-primary" />
    <input type="button" value="Cerrar" onclick="Cerrar()" class="btn btn-danger" />
    
}

</center>