﻿@model Agencia_Viajes.Models.Viajero

@{
    Layout = null;
}

<center>
<h2>Viajero</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.CI)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CI, new { @class = "text-box single-line", @required = "required" })
            @Html.ValidationMessageFor(model => model.CI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Primer_Nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Primer_Nombre, new { @class = "text-box single-line", @required = "required" })
            @Html.ValidationMessageFor(model => model.Primer_Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Segundo_Nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Segundo_Nombre, new { @class = "text-box single-line" })
            @Html.ValidationMessageFor(model => model.Segundo_Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Primer_Apellido)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Primer_Apellido, new { @class = "text-box single-line", @required = "required" })
            @Html.ValidationMessageFor(model => model.Primer_Apellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Segundo_Apellido)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Segundo_Apellido, new { @class = "text-box single-line"})
            @Html.ValidationMessageFor(model => model.Segundo_Apellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email, new { @class = "text-box single-line", @required = "required" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pasaporte)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pasaporte, new { @class = "text-box single-line"})
            @Html.ValidationMessageFor(model => model.Pasaporte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Direccion, new { @class = "text-box single-line", @required = "required" })
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono1)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telefono1, new { @class = "text-box single-line", @required = "required" })
            @Html.ValidationMessageFor(model => model.Telefono1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono2)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telefono2, new { @class = "text-box single-line"})
            @Html.ValidationMessageFor(model => model.Telefono2)
        </div>
    </fieldset>
<br />
<br />
    <input type="submit" value="Guardar" class="btn btn-primary" />
    <input type="button" value="Cerrar" onclick="Cerrar()" class="btn btn-danger" />
    
}

</center>