﻿@model IEnumerable<Agencia_Viajes.Models.Viajero>

@{
    //ViewBag.Title = "Index";
}

<link href="~/Scripts/DataTables-1.10.13/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DataTables-1.10.13/media/js/Data_Table_Es.js" type="text/javascript"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js" type="text/javascript"></script>

<script src="~/Scripts/Popup.js" type="text/javascript"></script>


<center><h2>Viajeros</h2></center>

<div class="DivEmpresas">
    <p>
        <input type="button"  value="Nuevo" onclick="CrearViajero()" class="btn btn-primary"  style=" float:right" /> 
    </p>

    <br />
<br />

    <table id="Jtabla">
        <thead>
            <tr>
                <th>
                    CI
                </th>
                <th>
                    Pasaporte
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Telefono
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pasaporte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Primer_Nombre) @Html.DisplayFor(modelItem => item.Segundo_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Primer_Apellido)  @Html.DisplayFor(modelItem => item.Segundo_Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono1)
                </td>
                <td>
                    <input type="button" onclick="VerViajero(@item.ID_Viajero)" value="Detalle" class="btn btn-info" />
                    <input type="button" onclick="EditViajero(@item.ID_Viajero)" value="Editar" class="btn btn-success" />
                    <input type="button" onclick="EliminarViajero(@item.ID_Viajero)" value="Eliminar" class="btn btn-danger" />
                    <input type="button" onclick="AsignarViajero(@item.ID_Viajero)" value="Asignar Viaje" class="btn btn-secondary" />

                </td>

            </tr>
        }
        </tbody>
    </table>

    </div>

    <div id="LevantarPopup"></div>
<div id="DialogoPopUp_alert"></div>
<div id="dialog_alert_Error"></div>