﻿html
{
    font-family: serif;
    /*font-size: 0.85em;*/
    color: #013B82;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    	
    background:     url('/Content/bg_2.jpg');
    background-size: 100% 100%;
        background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: #f3f2f2;


}

.page {
    margin: 7vw 9vw 7vw 8vw;
}

.body {
    border-radius: 0.7vw 0.7vw 0.7vw 0.7vw;
    -moz-border-radius: 0.7vw 0.7vw 0.7vw 0.7vw;
    -webkit-border-radius: 0.7vw 0.7vw 0.7vw 0.7vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.24);
    background-color: rgba(255, 255, 255, 0.86);
        min-height: 32vw;
}

.divCenter {
    text-align: center;
}

.divLogin {
    padding-top: 2%;
    text-align: center;
}

fieldset {
    display: inline-block;
    padding: 0.6vw 1.1vw 1.1vw 1.1vw;
    border: 1px solid #ccc;
    min-width: 20vw;
    border-radius: 0.9vw;
    color: #666;
    text-align: left;
}

.text-box {
    width: 98%;
    height: 1.7vw;
    padding-left: 5px;
    display: block;
    vertical-align: middle;
    border: 0.05vw solid #ccc;
    border-radius: 0.2vw 0.2vw 0.2vw 0.2vw;
}

.display-label, .editor-label {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.editor-field {
    margin: 0.5em 0 0 0;
    color: Black;
    padding-left: 1em;
}

.botonVocem-Gris {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 12px 12px 12px 12px;
    -moz-transition: all 0.218s ease 0s;
    -moz-user-select: none;
    background-color: #ffffff;
    background-image: linear-gradient(top,#d1d3d4,#ffffff);
    background-image: -moz-linear-gradient(top,#d1d3d4,#ffffff);
    background-image: -o-linear-gradient(top,#d1d3d4,#ffffff);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d1d3d4),to(#ffffff));
    background-image: -webkit-linear-gradient(top,#d1d3d4,#ffffff);
    border: 1px solid transparent;
    color: #013B82;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 14px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
}


.main {
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    margin: 0vw 0vw 0vw 0vw;
    min-height: 25vw;
    clear: both;
    display: block;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    /* background-color: #ffffff; */
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
