﻿@model Agencia_Viajes.Models.LoginModel

@{
    ViewBag.Title = "Iniciar sesión";
}

<section id="loginForm">

<center><h2>Iniciar Sesión.</h2></center>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <div class="divLogin divCenter">
        <fieldset style="background: rgb(1,59,130); border-radius: 0.9vw;">
            <legend hidden="hidden"></legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName, "Usuario", new { @style = "color: white" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.UserName)
                <br />
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password, "Contraseña", new { @style = "color: white" })
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Password)
                <br />
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-label">
                <center>
                <input type="submit" value="Entrar" class="botonVocem-Gris" />
                </center>
            </div>
        </fieldset>
    </div>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
